body {
    font: 24px "Century Gothic", Futura, sans-serif;
    margin: 15px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  .index {
    font-size: 16px;
    font-weight: 100;
  }
  .boardIndex {
    font-size: 20px;
    font-weight: bold;
    color: red
  }
  
  .game-board div{
    /* display: table; */
    /* flex:1; */
    width: 33.33%;
    height: 33.33%;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    color: green;
    font-family: "Fira Code";
    float: left;
    font-size: 80px;
    font-weight: 100;
    line-height: 4px;
    height: 100%;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    background-color: pink;
    margin: 100px auto 0;
    height: calc(40vw);
  }
  
  .game-info {
    margin-left: 20px;
  }
  